* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  background-image: url('https://images4.alphacoders.com/594/thumb-1920-594600.jpg');
  background-size: auto 100vh; 
  font-family: Georgia;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
}
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
}
}

@media (min-width: 800px) {
  body {
    font-size: 20px;
}
}

@media (min-width: 1200px) {
  body {
    font-size: 24px;
}
}


header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: White;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
 color:teal;
padding: 10px 30px;
display: block;
}

a{
  color: teal;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

.menu li {
  list-style: none;
}

.menu ul{
  display:flex;
  justify-content: space-around;
}

.site-subtitle,
.site-title {
  color: cyan;
  text-align: center;
}

.site-title {
  font-size: 4em;

}

.site-subtitle {
  font-style: italic;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}